<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Signup Successful</h1>
  <p>Your signup information. Please contact stugo@ncpachina.org if you have any question.</p>
  <br>
  <p><strong>Time: </strong> <%= time %> </p>
  <p><strong>First Name: </strong> <%= firstName %> </p>
  <p><strong>Last Name: </strong> <%= lastName %> </p>
  <p><strong>Year: </strong> <%= year %> </p>
  <p><strong>Student ID: </strong> <%= studentID %> </p>
  <br>

  <a href="/">home</a>
</body>
</html>